## CRIANDO CONEX√ÉO

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('AulaSpark').enableHiveSupport().getOrCreate()

In [3]:
spark

## CRIANDO DATAFRAME MANUALMENTE

In [4]:
df_aluno = spark.createDataFrame([
    {"id": 1, "name": "Fabio"},
    {"id": 2, "name": "Joao"},
    {"id": 3, "name": "Fernando"}
])

In [ ]:
#tipo do objeto
type(df_aluno)

pyspark.sql.dataframe.DataFrame

## HELP

In [ ]:
help(df_aluno)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3.0
 |
 |  .. note: A DataFrame should only be created as described above. It should not be directly
 |      created via using the constructor.
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name: str) -> pyspark.sql.column.Column
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |  __getitem__(self, item: Union[int, str, pyspark.sql.column.Column, List, Tuple]) -> Union[pyspark.sql.column.Column, ForwardRef('DataFrame')]
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |  __init__(self, jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  agg(self, *exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> 'DataFrame'
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |  alias(self, alias: str) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |  approxQuantile(self, col: Union[str, List[str], Tuple[str]], probabilities: Union[List[float], Tuple[float]], relativeError: float) -> Union[List[float], List[List[float]]]
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but give the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities. If
 |          the input `col` is a string, the output is a list of floats. If the
 |          input `col` is a list or tuple of strings, the output is also a
 |          list, but each element in it is a list of floats, i.e., the output
 |          is a list of list of floats.
 |
 |  cache(self) -> 'DataFrame'
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |  checkpoint(self, eager: bool = True) -> 'DataFrame'
 |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
 |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
 |      iterative algorithms where the plan may grow exponentially. It will be saved to files
 |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional
 |          Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |  coalesce(self, numPartitions: int) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Examples
 |      --------
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName: str) -> pyspark.sql.column.Column
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self) -> List[pyspark.sql.types.Row]
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |  corr(self, col1: str, col2: str, method: Optional[str] = None) -> float
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |  count(self) -> int
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.count()
 |      2
 |
 |  cov(self, col1: str, col2: str) -> float
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |  createGlobalTempView(self, name: str) -> None
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceGlobalTempView(self, name: str) -> None
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceTempView(self, name: str) -> None
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |      True
 |
 |  createTempView(self, name: str) -> None
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |      True
 |
 |  crossJoin(self, other: 'DataFrame') -> 'DataFrame'
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      other : :class:`DataFrame`
 |          Right side of the cartesian product.
 |
 |      Examples
 |      --------
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |  crosstab(self, col1: str, col2: str) -> 'DataFrame'
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column. Distinct items will make the first item of
 |          each row.
 |      col2 : str
 |          The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |  cube(self, *cols: 'ColumnOrName') -> 'GroupedData'
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |  describe(self, *cols: Union[str, List[str]]) -> 'DataFrame'
 |      Computes basic statistics for numeric and string columns.
 |
 |      .. versionadded:: 1.3.1
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      Notes
 |      -----
 |      This function is meant for exploratory data analysis, as we make no
 |      guarantee about the backward compatibility of the schema of the resulting
 |      :class:`DataFrame`.
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [("Bob", 13, 40.3, 150.5), ("Alice", 12, 37.8, 142.3), ("Tom", 11, 44.1, 142.2)],
 |      ...     ["name", "age", "weight", "height"],
 |      ... )
 |      >>> df.describe(['age']).show()
 |      +-------+----+
 |      |summary| age|
 |      +-------+----+
 |      |  count|   3|
 |      |   mean|12.0|
 |      | stddev| 1.0|
 |      |    min|  11|
 |      |    max|  13|
 |      +-------+----+
 |
 |      >>> df.describe(['age', 'weight', 'height']).show()
 |      +-------+----+------------------+-----------------+
 |      |summary| age|            weight|           height|
 |      +-------+----+------------------+-----------------+
 |      |  count|   3|                 3|                3|
 |      |   mean|12.0| 40.73333333333333|            145.0|
 |      | stddev| 1.0|3.1722757341273704|4.763402145525822|
 |      |    min|  11|              37.8|            142.2|
 |      |    max|  13|              44.1|            150.5|
 |      +-------+----+------------------+-----------------+
 |
 |      See Also
 |      --------
 |      DataFrame.summary
 |
 |  distinct(self) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.distinct().count()
 |      2
 |
 |  drop(self, *cols: 'ColumnOrName') -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols: str or :class:`Column`
 |          a name of the column, or the :class:`Column` to drop
 |
 |      Examples
 |      --------
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |  dropDuplicates(self, subset: Optional[List[str]] = None) -> 'DataFrame'
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \

## CRIANDO DF A PARTIR DE ARQUIVOS

In [ ]:
#CSV HADOOP

In [ ]:
df_csv = spark.read.csv('/datalake/raw/pessoas',header=True)

In [ ]:
#JSON HADOOP

In [ ]:
df_json = spark.read.json('/datalake/raw/user')

In [ ]:
#JSON S3

In [ ]:
df_jsons3 = spark.read.json('s3a://camada-bronze/user/')

In [ ]:
df_teste = spark.read.load("/datalake/raw/pessoas",format="csv", sep=",", inferSchema="true", header="true")

In [ ]:
#CSV LOCAL
df_local = spark.read.csv('file:///home/user/dados.txt',header=True)

## CRIANDO DF A PARTIR DE BANCO DE DADOS

In [ ]:
url = "jdbc:postgresql://postgres:5432/dvdrental"

properties = {
    "user": "admin",
    "password": "admin",
    "driver": "org.postgresql.Driver"
}

In [ ]:
df_city = spark.read.jdbc(url=url,table='public.city',properties=properties)
df_county = spark.read.jdbc(url=url,table='public.country',properties=properties)

In [ ]:
query = '(select c.city_id ,city, country from public.city c \
        inner join public.country c2 \
        on c2.country_id  = c.country_id) as tab '

In [ ]:
df_query = spark.read.jdbc(url=url,table=query,properties=properties)

## A√á√ÉO E TRANSFORMA√á√ÉO

In [ ]:
#A√á√ÉO
df_city.show(10)
df_city.count()

In [ ]:
#TRANSFORMA√á√ÉO
df_city2 = df_city.filter(df_city.country_id == 101).filter(df_city.city.startswith('A'))
df_city2.explain(extended=True)

## VALIDANDO DATAFRAME

In [ ]:
#print

In [ ]:
df_city.show(10,truncate=False)

In [ ]:
#describe

In [ ]:
df_city.describe().show()

In [ ]:
#printSchema

In [ ]:
df_city.printSchema()

In [ ]:
#count()

In [ ]:
df_city.count()

In [ ]:
#sample([withReplacement, fraction, seed])  Returns a sampled subset of this DataFrame.
df_city.sample(0.1).show()

## MANIPULANDO DF

In [ ]:
# isEmpty() Returns True if this DataFrame is empty.
df_city.isEmpty()

In [ ]:
# select(*cols) Projects a set of expressions and returns a new DataFrame.
df_city.select('city').show()

In [ ]:
#orderBy(*cols, **kwargs) Returns a new DataFrame sorted by the specified column(s).
#sort(*cols, **kwargs) Returns a new DataFrame sorted by the specified column(s).

df_city.orderBy('city',ascending=True).show(5)

In [ ]:
from pyspark.sql.functions import desc, asc
df_city.orderBy(df_city.city.asc()).show(5)
df_city.orderBy(df_city.city.desc()).show(5)

In [ ]:
# where e filter
df_city.where(df_city.city_id == 1).show(truncate=False)

In [ ]:
df_city.filter(df_city.city_id == 1).show(truncate=False)

In [ ]:
#fillna(value[, subset]) Replace null values, alias for na.fill().
df_city.na.fill('').show()

In [ ]:
# distinct() Returns a new DataFrame containing the distinct rows in this DataFrame.
df_city.select('city').distinct().show()

In [ ]:
#first() Returns the first row as a Row.
df_city.first()

In [ ]:
#head([n]) Returns the first n rows.
df_city.head()

In [ ]:
#limit(num) Limits the result count to the number specified.
df_city.limit(5).show()

In [ ]:
#tail(num) Returns the last num rows as a list of Row.
df_city.tail(5)

In [ ]:
#take(num) Returns the first num rows as a list of Row.
df_city.take(5)

In [ ]:
# collect() Returns all the records as a list of Row.
df_city.collect()

In [ ]:
#groupBy(*cols) Groups the DataFrame using the specified columns, so we can run aggregation on them.
df_city.groupby('country_id').count().show()

In [ ]:
# agg(*exprs) Aggregate on the entire DataFrame without groups (shorthand for df.groupBy().agg()).
df_city \
    .groupby('country_id') \
    .agg({"country_id": "sum"}) \
    .show(5)

In [ ]:
# join inner, cross, outer, full, fullouter, full_outer, left, leftouter, left_outer, right, rightouter, right_outer, semi, leftsemi, left_semi, anti, leftanti and left_anti.
df_city.join(df_county,df_city.country_id == df_county.country_id,'inner').show()

In [ ]:
#union
df_city.select('country_id').union(df_county.select('country_id')).show(5)

In [ ]:
#toDF(*cols) Returns a new DataFrame that with new specified column names
#toJSON([use_unicode])
#toPandas()
df_city.toJSON()
p = df_city.toPandas()
p

In [ ]:
#partitions
df_city.rdd.getNumPartitions()
df_city = df_tab.repartition(2)
df_city.rdd.getNumPartitions()
#df.rdd.partitions.length()
#df.rdd.partitions.size()

In [ ]:
# drop(*cols) Returns a new DataFrame without specified columns.
df_city.drop('last_update').show()

In [ ]:
# dropDuplicates([subset]) Return a new DataFrame with duplicate rows removed, optionally only considering certain columns.
df_city.select('city').count()
df_city.select('city').dropDuplicates().count()

In [ ]:
# dropna([how, thresh, subset]) Returns a new DataFrame omitting rows with null values.
df_city.na.drop().show()

In [ ]:
#withColumn(colName, col) Returns a new DataFrame by adding a column or replacing the existing column that has the same name.
from pyspark.sql.functions import monotonically_increasing_id
df_city.withColumn('new_id',monotonically_increasing_id()).show(5)

In [ ]:
#withColumnRenamed(existing, new) Returns a new DataFrame by renaming an existing column.
df_city.withColumnRenamed('last_update','updated').show()

In [ ]:
#alterar typo de coluna
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

df_aluno.withColumn("id",col("id").cast(IntegerType()))
df_aluno.withColumn("id",col("id").cast("int"))
df_aluno.withColumn("id",col("id").cast("integer"))

In [ ]:
#foreach(f) Applies the f function to all Row of this DataFrame.
#foreachPartition(f) Applies the f function to each partition of this DataFrame.
def func(df):
    print(df.city)
df_city.foreach(func)

## SQL

In [ ]:
#createOrReplaceGlobalTempView(name) 
#createOrReplaceTempView(name)
#createTempView(name)
df_city.createOrReplaceTempView('city')

In [ ]:
spark.sql('select * from city limit 5').show()

## PLANO DE EXECU√á√ÉO

In [ ]:
#explain([extended, mode])Prints the (logical and physical) plans to the console for debugging purposes.
df_city.explain()

## TUNNING

In [ ]:
#HABILITADO DESDE O SPARK 3.2
spark.conf.set("spark.sql.adaptive.enabled", "true")

In [ ]:
# cache unionAll unpersist
df_city.cache()
df_city.persist()
df_city.unpersist()

In [ ]:
# HINT
spark.sql('SELECT /*+ REPARTITION(5) */ * FROM city;').explain()

In [ ]:
# BROADCAST VARIABLE
states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

## SALVANDO DADOS

In [ ]:
#CSV HADOOP

In [ ]:
df_city.write.csv('/datalake/process/city',header=True,sep=',',mode='overwrite')

In [ ]:
#CSV S3

In [ ]:
df_city.write.csv('s3a://camada-prata/city/',mode='overwrite')

In [ ]:
#JSON

In [ ]:
df_city.write.json('s3a://camada-prata/city_json/',mode='overwrite')

In [ ]:
#PARQUET

In [ ]:
df_city.write.parquet('s3a://camada-prata/city_parquet/',mode='overwrite')

In [ ]:
spark

In [ ]:
spark.sql("SELECT * FROM parquet.`s3a://camada-prata/city_parquet/`").show()

In [ ]:
#ORC

In [ ]:
df_city.write.orc('s3a://camada-prata/city_orc/',mode='overwrite')

In [ ]:
#DATABASE
df_city.write \
    .jdbc(url=url, table='public.df',properties=properties,mode='overwrite')

## HIVE

In [ ]:
df_raw = spark.read.json('s3a://camada-bronze/user/')

In [ ]:
df_final = \
df_raw.select( \
     'address.city' \
    ,'address.coordinates.lat' \
    ,'address.coordinates.lng' \
    ,'address.country' \
    ,'address.state' \
    ,'address.street_address' \
    ,'address.street_name' \
    ,'address.zip_code' \
    ,'avatar' \
    ,'credit_card.cc_number' \
    ,'date_of_birth' \
    ,'email' \
    ,'employment.key_skill' \
    ,'employment.title' \
    ,'first_name' \
    ,'gender' \
    ,'id' \
    ,'last_name' \
    ,'password' \
    ,'phone_number' \
    ,'social_insurance_number' \
    ,'subscription.payment_method' \
    ,'subscription.plan' \
    ,'subscription.status' \
    ,'subscription.term' \
    ,'uid' \
    ,'username' \
             )

In [ ]:
df_final.count()

In [ ]:
df_final.write.format('hive').saveAsTable('default.teste3')

In [ ]:
spark.sql("show tables from default").show()

In [ ]:
#PARTICIONADO
df.write.partitionBy("country_id").format("parquet").save("/process/tabpart")

## DELTA LAKE

In [1]:
import requests
import json
import pyspark
from delta import *

builder = (
    pyspark.sql.SparkSession.builder
    .appName("delta")
     .master("spark://spark-master:7077")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .config("spark.hadoop.fs.s3a.access.key", "datalake")
    .config("spark.hadoop.fs.s3a.secret.key", "datalake")
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000")
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
)

spark = configure_spark_with_delta_pip(builder).enableHiveSupport().getOrCreate()

In [2]:
spark

In [3]:
def loadData(qtde):
    items = []
    for _ in range(qtde):
        r = requests.get('https://catfact.ninja/fact')
        items.append(r.json())

    # cria DF diretamente
    return spark.createDataFrame(items)

df = loadData(10)
df.show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
|fact                                                                                                                                                                                                                        |length|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
|In Japan, cats are thought to have the power to turn into super spirits when they die. This may be because according to the Buddhist religion, the body of the cat is the temporary resting place of very spiritual people.i|220   |
|Cats, just like people, are subject to asthma. Dust, smoke, and other forms of air pullution in your cat's environment can be troublesome sources of irritation.                                                            |160   |
|It has been scientifically proven that stroking a cat can lower one's blood pressure.                                                                                                                                       |85    |
|The domestic cat is the only species able to hold its tail vertically while walking. You can also learn about your cat's present state of mind by observing the posture of his tail.                                        |180   |
|Cats do not think that they are little people. They think that we are big cats. This influences their behavior in many ways.                                                                                                |124   |
|Cats lap liquid from the underside of their tongue, not from the top.                                                                                                                                                       |69    |
|Cats have been domesticated for half as long as dogs have been.                                                                                                                                                             |63    |
|Heat occurs several times a year and can last anywhere from 3 to 15 days.                                                                                                                                                   |73    |
|Cats have about 130,000 hairs per square inch (20,155 hairs per square centimeter).                                                                                                                                         |83    |
|In 1888, more than 300,000 mummified cats were found an Egyptian cemetery. They were stripped of their wrappings and carted off to be used by farmers in England and the U.S. for fertilizer.                               |189   |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+

In [4]:
df.show()

+--------------------+------+
|                fact|length|
+--------------------+------+
|In Japan, cats ar...|   220|
|Cats, just like p...|   160|
|It has been scien...|    85|
|The domestic cat ...|   180|
|Cats do not think...|   124|
|Cats lap liquid f...|    69|
|Cats have been do...|    63|
|Heat occurs sever...|    73|
|Cats have about 1...|    83|
|In 1888, more tha...|   189|
+--------------------+------+

In [5]:
df.show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
|fact                                                                                                                                                                                                                        |length|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
|In Japan, cats are thought to have the power to turn into super spirits when they die. This may be because according to the Buddhist religion, the body of the cat is the temporary resting place of very spiritual people.i|220   |
|Cats, just like people, are subject to asthma. Dust, smoke, and other forms of air pullution in your cat's environment can be troublesome sources of irritation.                                                            |160   |
|It has been scientifically proven that stroking a cat can lower one's blood pressure.                                                                                                                                       |85    |
|The domestic cat is the only species able to hold its tail vertically while walking. You can also learn about your cat's present state of mind by observing the posture of his tail.                                        |180   |
|Cats do not think that they are little people. They think that we are big cats. This influences their behavior in many ways.                                                                                                |124   |
|Cats lap liquid from the underside of their tongue, not from the top.                                                                                                                                                       |69    |
|Cats have been domesticated for half as long as dogs have been.                                                                                                                                                             |63    |
|Heat occurs several times a year and can last anywhere from 3 to 15 days.                                                                                                                                                   |73    |
|Cats have about 130,000 hairs per square inch (20,155 hairs per square centimeter).                                                                                                                                         |83    |
|In 1888, more than 300,000 mummified cats were found an Egyptian cemetery. They were stripped of their wrappings and carted off to be used by farmers in England and the U.S. for fertilizer.                               |189   |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+

In [6]:
path = 's3a://raw/user_app'

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.driver.memory', '1G'),
 ('spark.hadoop.fs.s3a.path.style.access', 'true'),
 ('spark.submit.pyFiles',
  '/home/user/.ivy2/jars/io.delta_delta-core_2.12-2.2.0.jar,/home/user/.ivy2/jars/io.delta_delta-storage-2.2.0.jar,/home/user/.ivy2/jars/org.antlr_antlr4-runtime-4.8.jar'),
 ('spark.app.startTime', '1764815535802'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.initial.file.urls',
  'file:///home/user/.ivy2/jars/io.delta_delta-core_2.12-2.2.0.jar,file:///home/user/.ivy2/jars/io.delta_delta-storage-2.2.0.jar,file:///home/user/.ivy2/jars/org.antlr_antlr4-runtime-4.8.jar'),
 ('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.port', '46549'),
 ('spark.hadoop.fs.s3a.access.key', 'datalake'),
 ('spark.driver.host', 'spark-master'),
 ('spark.jars',
  'file:///home/user/.ivy2/jars/io.delta_delta-core_2.12-2.2.0.jar,file:///home/user/.ivy2/jars/io.delta_delta-storage-2.2.0.jar,file:///home/user/.ivy2/jars/org.antlr_antlr4-runtime-4.8.jar'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', 'file:/home/user/spark-warehouse'),
 ('spark.app.name', 'delta'),
 ('spark.app.initial.jar.urls',
  'spark://spark-master:46549/jars/io.delta_delta-core_2.12-2.2.0.jar,spark://spark-master:46549/jars/org.antlr_antlr4-runtime-4.8.jar,spark://spark-master:46549/jars/io.delta_delta-storage-2.2.0.jar'),
 ('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem'),
 ('spark.files',
  'file:///home/user/.ivy2/jars/io.delta_delta-core_2.12-2.2.0.jar,file:///home/user/.ivy2/jars/io.delta_delta-storage-2.2.0.jar,file:///home/user/.ivy2/jars/org.antlr_antlr4-runtime-4.8.jar'),
 ('spark.jars.packages', 'io.delta:delta-core_2.12:2.2.0'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.sql.extensions', 'io.delta.sql.DeltaSparkSessionExtension'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.hadoop.fs.s3a.endpoint', 'http://minio:9000'),
 ('spark.repl.local.jars',
  'file:///home/user/.ivy2/jars/io.delta_delta-core_2.12-2.2.0.jar,file:///home/user/.ivy2/jars/io.delta_delta-storage-2.2.0.jar,file:///home/user/.ivy2/jars/org.antlr_antlr4-runtime-4.8.jar'),
 ('spark.app.id', 'local-1764815536528'),
 ('spark.app.submitTime', '1764815535593'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.hadoop.fs.s3a.secret.key', 'datalake'),
 ('spark.sql.catalog.spark_catalog',
  'org.apache.spark.sql.delta.catalog.DeltaCatalog')]

In [7]:
#salvando como delta table
df.write.format("delta").mode('overwrite').save(path)

In [ ]:
deltaTable = DeltaTable.forPath(spark, path)

In [ ]:
type(deltaTable)

In [ ]:
d = spark.read.format("delta").load(path)

In [ ]:
type(d)

In [ ]:
deltaTable.toDF().show(truncate=False)

In [ ]:
### MERGE
#NOVOS DADOS
raw = loadData(10)

In [ ]:
raw.show(truncate=False)

In [ ]:
from delta.tables import *
from pyspark.sql.functions import *

deltaTable.alias("process") \
  .merge(
    raw.alias("raw"),
    "process.id = raw.id") \
  .whenNotMatchedInsert(values = {'email' : col('email') \
                                 ,'first_name' : col('first_name') \
                                 ,'last_name' : col('last_name') \
                                 ,'gender' : col('gender') \
                                 ,'id' : col('id') \
                                 ,'username' : col('username') \
                                 }) \
  .whenMatchedUpdate(set = {'email' : col('raw.email') \
                                 ,'first_name' : col('raw.first_name') \
                                 ,'last_name' : col('raw.last_name') \
                                 ,'gender' : col('raw.gender') \
                                 ,'username' : col('raw.username') \
                                 }) \
  .execute()

In [ ]:
deltaTable.toDF().show(truncate=False)

## SPARK SUBMIT

In [ ]:
from pyspark.sql import SparkSession
import requests
spark = SparkSession.builder.appName("Aula").enableHiveSupport().getOrCreate()
def loadData (qtde):
    list = []
    for x in range (qtde):
        print(x)
        r = requests.get('https://random-data-api.com/api/v2/users')
        list.append(r.json())
        req = spark.read.json(spark.sparkContext.parallelize(list))
        req = req.select( \
         'email' \
        ,'first_name' \
        ,'last_name' \
        ,'gender' \
        ,'id' \
        ,'username' \
                 )
    return req

df = loadData(10)
df.repartition(1).write.parquet('/datalake/raw/api',mode='append')

In [ ]:
#spark-submit --master spark://spark-master:7077 --supervise --executor-memory 1G --total-executor-cores 1 programa.py

## STREAMING

In [ ]:
from pyspark.sql.types import  StructType, StructField, StringType, LongType, DoubleType, IntegerType, ArrayType
from pyspark.sql.functions import expr, from_json, col, concat
from pyspark.sql import Window
from pyspark.sql import SparkSession
import requests
spark = SparkSession.builder.appName("Aula").enableHiveSupport().getOrCreate()

In [ ]:
#API
#https://www.boredapi.com/api/activity/

In [ ]:
schema = StructType([
    StructField("activity", StringType()),
    StructField("type", StringType()),
    StructField("participants", IntegerType()),
    StructField("price",DoubleType()),
    StructField("link", StringType()),
    StructField("key", StringType()),
    StructField("accessibility",DoubleType())])
schema

In [ ]:
# Create stream dataframe setting kafka server, topic and offset option
df = (spark
  .readStream
  .format("kafka")
  .option("kafka.bootstrap.servers", "kafka-broker:9092") # kafka server
  .option("subscribe", "atividade") # topic
  .option("startingOffsets", "earliest") # start from beginning 
  #.option("checkpoint","s3a://tmp/checkpoint")    
  .option("kafka.group.id", "spark3")
  .load() 
  )

In [ ]:
df.isStreaming

In [ ]:
# Transform to Output DataFrame
value_df = df.select(from_json(col("value").cast("string"),schema).alias("value"))

In [ ]:
exploded_df = value_df.selectExpr('value.activity', 'value.type', 'value.participants', 'value.price',
                                      'value.price','value.link', 'value.key', 'value.accessibility')

In [ ]:
exploded_df.printSchema()

In [ ]:
#ESCREVER EM MEM√ìRIA
rawQuery = exploded_df \
        .writeStream \
        .queryName("qraw")\
        .format("memory")\
        .start()

In [ ]:
print(type(df))

In [ ]:
rawQuery.status

In [ ]:
raw = spark.sql("select * from qraw")

In [ ]:
raw.show(truncate=False)

In [ ]:
raw.count()

In [ ]:
raw.select('*').show()

In [ ]:
#ESCREVER EM DISCO
output_query = exploded_df.writeStream\
        .format("json")\
        .option("path","/datalake/raw/streaming")\
        .option("checkpointLocation", "chck-pnt-dir-kh")\
        .outputMode("append")\
        .queryName("SS Writter")\
        .start()

In [ ]:
output_query.awaitTermination()